*{
    font-family: verdana;
}

.flex-container1{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    column-gap: 5rem;
}

.flex-container-1{
    background-color: white;
    background: transparent;
    position: relative;
    flex-wrap: wrap;
}

.shopnow{
    border-radius: 13px;
    border: 1px solid red;
    background-color: red;
    color:white;
    padding:10px;
}

.mydiv5{
    background-color: white;
    height: 20rem;
    width: 24rem;
    background: transparent;
}

.shopnow:hover{
    background-color: brown;
    cursor: pointer;
}