*{
    font-family: verdana;
}
.flex-container{
    background: rgba(0,0,0,0.7)url('./img/img41.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div4{
    background-color: grey;
    background: transparent;
    height: 20rem;
    width: 32rem;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
}
