*{
    font-family: verdana;
}
.flex-container{
    background-color: white;
    display:flex;
    align-items:center;
}
.dasher{
    border-radius: 13px;
    border: 1px solid red;
    background-color: red;
    color:white;
    padding:10px;
}
.flex-container > .mydiv7{
    color:black;
    padding:30px;
}
.dasher:hover{
    background-color: brown;
}