*{
    font-family: verdana;
}
.flex-container8{
    background-color:antiquewhite;
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    padding: 50px;
}
.partner{
    border-radius: 13px;
    background-color: red;
    color:white;
    padding:10px;
    border: 0;
}

.partner:hover{
    background-color: brown;
    cursor: pointer;
}